<div class="post__links">
   <%= link_to 'Edit', edit_post_path(@post), class: "button secondary" %>
   <%= link_to 'Destroy', @post, class: "button alert right", method: :delete, data: { confirm: 'Are you sure?' } %>
</div>

<%= render 'post', post: @post %>